.students-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 80%;
  margin-top: 50px;
  margin-right: 50px;
  padding: 0;

  list-style: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(#333, 0.35);
}

.students-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.technology-list {
  display: flex;
  justify-content: space-between;
}

.students-list-item:nth-child(2n) {
  background-color: rgba(#3171ac, 0.1);
}

.students-list-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
