.students-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 80%;
  margin-top: 50px;
  margin-right: 50px;
  padding: 0;

  list-style: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(#333, 0.35);

  background-color: #fff;
}

.students-top-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
}

.students-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
  cursor: pointer;
}

.students-list-item-link {
  color: #333;
  text-decoration: none;
}

.students-list-item-link:nth-child(2n) {
  background-color: rgba(#3171ac, 0.1);
}

.technology-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.students-list-item:nth-child(2n) {
  background-color: rgba(#3171ac, 0.1);
}

.students-list-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.students-list-item:hover {
  background-color: rgba(#3171ac, 0.3);
  border-radius: 0;
}

.students-list-item:last-child > .students-list-item:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.students-list-item-search-field {
  margin: 5px 10px;
  padding: 5px;
  height: 20px;

  font-family: "Open Sans", sans-serif;
  font-size: 20px;

  border: 1px solid #a8a8a8;
  border-radius: 5px;
  outline: none;
}

.students-bottom-list-item {
  display: flex;
}

.students-list-item-form {
  position: relative;
}

.students-list-item-search-field-icon {
  position: absolute;
  top: 10px;
  right: 15px;

  background: none;
  border: none;

  font-size: 20px;
  color: #a8a8a8;
}
