.logging-page {
  display: flex;
  height: 100vh;

  position: relative;
}

.mentor-side {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 0 10px 1px #000;

  cursor: pointer;

  text-decoration: none;
  color: #fff;
  width: 50%;
  background-color: rgba(#2a5cff, 0.5);
  background-image: url("../../resourses/teacher.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s all;

  &:hover {
    width: 70%;
  }
}

.student-side {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 0 10px 1px #000;

  cursor: pointer;
  width: 50%;

  text-decoration: none;
  color: #fff;
  background-color: #111;
  background-image: url("../../resourses/student.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s all;
  &:hover {
    width: 70%;
  }
}

.color-over {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.35);
}

.login-line-wrapper {
  position: relative;
  text-align: center;
  z-index: 2;
}

.login-line {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 5px 10px;
  color: #fff;
  font-size: 40px;
}

.hover-mentor {
  opacity: 0;
  position: absolute;
  width: 350px;
  transition: 0.5s;
  bottom: -300px;
  left: 25px;
}

.mentor-side:hover .hover-mentor {
  opacity: 1;
  position: absolute;
  bottom: -100px;
}

.hover-student {
  opacity: 0;
  position: absolute;
  width: 350px;
  transition: 0.5s;
  bottom: -300px;
  left: -50px;
}

.student-side:hover .hover-student {
  opacity: 1;
  position: absolute;
  bottom: -100px;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../resourses/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../resourses/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../resourses/fonts/OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
}
