.dialog-apply-course-list {
  list-style: none;
  padding: 0;
}

.dialog-apply-course-notification {
  margin: 0;
  padding-left: 10px;

  color: #666;

  font-size: 12px;
}

.dialog-apply-course-list-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
  }

  p {
    margin: 0 30px;
  }
}
